@charset "UTF-8";
.container{
	font-family: didot, serif;
}
body {
  background-image: url('https://live.staticflickr.com/65535/51536368804_33b94b343d_z.jpg');
background-repeat: no-repeat; background-size: cover; 
}